---
const year = new Date().getFullYear();
---

<footer>
  <div>
    <small
      >&copy; {year} Astro Github Cards by <a
        href="https://github.com/Kons-5/Astro-Github-Cards">KONS-5</a
      >. All Rights Reserved.</small
    >
  </div>
</footer>
<style>
  div {
    margin: 4rem 0;
    text-align: center;
  }

  small {
    font-family: "Josefin Sans", sans-serif;
  }

  small a {
    color: #375a7f;
    text-decoration: none;
  }
</style>
